:root {
    --primary-color: #7366ff;
    --background-color:#16161a;
    --text-color: #e0e0e0;
    --secondary-text-color: #cccccc;
    --cta-text-color: #dcdcdd;
    --scrollbar-track-color: #333333;
    --scrollbar-thumb-color: #555555;
    --scrollbar-thumb-hover-color: #777777;
    --scrollbar-thumb-hover-accent: #b69f58;
    --box: #282828;
    
}

html[data-theme='light'] {
    --primary-color: #7366ff;
    --background-color: #f4f4f9;
    --text-color: #000000;
    --secondary-text-color: #000000;
    --cta-text-color: #dcdcdd;
    --scrollbar-track-color: #e0e0e0;
    --scrollbar-thumb-color: #c0c0c0;
    --scrollbar-thumb-hover-color: #a0a0a0;
    --scrollbar-thumb-hover-accent: #b69f58;
    --box: #e4e4e4;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-track-color);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:var(--primary-color);
    color:var(--text-color);
    border: none;
    border-radius:50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: ease-in-out 0.15s;
}

#scrollToTopBtn i {
    font-size: 24px;
}

#scrollToTopBtn:hover {
    transform: scale(1.05); transition: ease-in-out 0.15s;
}


h1, h2, h3, h4 {
    margin: 0 0 20px 0;
    font-weight: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

html {
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Urbanist, Arial, sans-serif;
    height: 100%;
    background: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Navigation Bar */
nav {
    position: absolute;
    background-color: var(--background-color);
    top: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

nav .logo {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
}

nav ul li:hover {
    transform: scale(1.1);
}

.theme-and-menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.theme-button {
    background: none;
    border: none;
    color: var(--primary-color);
    padding: 0.5rem;
    margin-right: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.theme-button:hover {
    transform: scale(1.1);
}

.theme-button .icon {
    width: 24px;
    height: 24px;
    display: none;
}

html[data-theme='dark'] .theme-button .sun-icon {
    display: block;
}

html[data-theme='light'] .theme-button .moon-icon {
    display: block;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 1rem;
}

.hamburger-menu div {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    transition: all 0.10s ease;
}

/* Hamburger Menu Animation */
.hamburger-menu.nav-open div:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger-menu.nav-open div:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.nav-open div:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--background-color);
    text-align: center;
    padding: 0 1rem;
    background-image: url(images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: background-color 0.3s ease;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width:800px){
    .hero-content {
        max-width: 600px;
        margin: 0 auto;
    }
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.hero-content h2 {
    font-weight: 400;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--secondary-text-color);
    transition: color 0.3s ease;
}

.hero-content .cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: var(--primary-color);
    color: var(--cta-text-color);
    text-decoration: none;
    font-size: 1.1rem;
    border: 2px solid var(--primary-color);
    transition: box-shadow 0.3s ease, transform 0.15s ease;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.30s ;
    font-weight: 500;
}

.hero-content .cta-button:hover {
    background-color: var(--background-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition:ease-in-out 0.30s ;
    color:var(--primary-color);
}

.cta-button.holo {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.30s;
}

.cta-button.holo:hover {
    background-color: var(--primary-color);
    color: var(--cta-text-color);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/* Mobile Responsive Styles */
@media (max-width: 900px) {
    nav .logo {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        padding: 0.5rem 0;
    }

    nav ul.show-menu {
        display: flex;
        height: 100vh;
    }

    nav ul li {
        margin: 0.5rem 0;
        text-align: center;
        margin-bottom:10%;
    }

    .theme-button {
        margin-right: 1rem;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h2 {
        font-size:1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .hero-content .cta-container {
        display: flex;
        flex-direction: column;
    }

    .hero-content .cta-button,
    .hero-content .cta-button.holo {
        margin: 0.5rem 0;
        width: 100%;
        box-sizing: border-box;
        transform: none;
    }

    .cta-button {
        transform: none;
    }
}

@media (max-width: 600px) {
    nav .logo {
        margin-left: 1rem;
        font-size: 1.5rem;
    }

    .theme-button {
        margin-right: 0.5rem;
    }

    .hero-content h1 {
        font-size: 1.75rem;
    }

    .hero-content h2 {
        font-size: 1rem;
    }

    .hero-content p {
        font-size: 0.875rem;
    }

    .hero-content .cta-button,
    .hero-content .cta-button.holo {
        padding: 0.5rem;
        font-size: 0.875rem;
      
    }

}

/*-----------------------------------*/

#about {
    padding: 60px 20px;
    background-color: var(--background-color); 
    color: var(--text-color); 
    font-family: 'Urbanist', sans-serif; 
    box-sizing: border-box;
    margin-top: 100px;
}

.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-right: 2px solid var(--primary-color);
}

.about-image img {
    max-width: 100%;
    height: auto;
}

.about-content {
    max-width: 60%;
    margin-left: 20px;
    text-align: left;
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
    font-weight: 400;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image {
        margin-bottom: 20px;
    }

    .about-content {
        max-width: 100%;
        margin: 0;
    }
}

@media (max-width: 678px) {
    #about {
        padding: 40px 10px;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .about-content p {
        font-size: 16px;
    }
}

/*-----------------------------------*/

footer {
    background-color: var(--box);
    color: var(--text-color);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo a {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-column p {
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
    transition: ease-in-out 0.15s;
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-social {
    margin-top: 20px;
    width: 100%;
}

.footer-social a {
    color: var(--text-color);
    margin-right: 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.footer-social a:hover {
    color: var(--primary-color);
}

.footer-info {
    margin-top: 20px;
    font-size: 0.9em;
    width: 100%;
}

.footer-info p {
    margin: 5px 0;
}

.footer-info i {
    color: var(--primary-color);
}

/* Media Queries */
@media (max-width: 768px) {
    .footer-container {
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-right: 0;
        text-align: center;
    }

    .footer-social {
        text-align: center;
    }

    .footer-info {
        text-align: center;
    }

    .footer-heading {
        width: 95%;
        text-align: left;
        padding: 10px;
        background-color: var(--box);
        cursor: pointer;
    }

    .footer-heading i {
        margin-left: 10px;
    }

    .footer-menu {
        display: none;
        width: 100%;
        padding: 10px;
        background-color: var(--box);
        border-radius: 5px;
        margin-top: 10px;
    }

    .footer-menu a {
        text-align: left;
    }

    .footer-column p {
        margin-bottom: 0;
    }

    .arrow-icon {
        transition: transform 0.3s;
    }

    .arrow-icon.rotate {
        transform: rotate(180deg);
    }
}

@media (min-width: 769px) {
    .footer-column p .arrow-icon {
        display: none !important; 
    }
}

@media (max-width: 480px) {
    .footer-logo a {
        font-size: 1.5em;
    }

    .footer-column {
        min-width: 100%;
    }
}

/*-----------------------------------*/

/* Features Section */
#features {
    padding: 100px 20px;
    background: var(--background-color);
    text-align: center;
    margin-top: 15px;
    font-family: 'Urbanist', sans-serif;
}

#features .features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

#features h2 {
    width: 100%;
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--primary-color);
}

.feature-box {
    flex: 1 1 calc(33.33% - 40px);
    box-sizing: border-box;
    margin: 20px;
    background:var(--box);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the start */
    min-width: 280px;
}

.feature-box:hover {
    transform: translateY(-10px);
  
}

.feature-icon {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.feature-box h3 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center; /* Center the text of the title */
    min-height: 60px; /* Set a minimum height to ensure consistent alignment */
}

.feature-box p {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.5;
    flex-grow: 1; /* Ensure the paragraph takes up the remaining space */
    text-align: center; /* Center the text of the paragraph */
}

@media (max-width: 1024px) {
    .feature-box {
        flex: 1 1 calc(50% - 40px);
        margin: 20px 10px;
    }
}

@media (max-width: 768px) {
    .feature-box {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    #features h2 {
        font-size: 28px; /* Adjust font size for smaller screens */
    }
}

/* Hide Features Section on Smaller Screens */
@media (max-width: 800px) {
    #features {
        display: none;
    }
}

/*-----------------------------------*/